
<div class="container-fluid" id="footer">
		<div class="row">
			<div class="col-lg-12">
					<ul >
						<li class="foot">Color Game 2017|<a href="">Asim</a></li>
						
					</ul>
				</div>
				</div>
				</div>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
 </body>
</html>