
<footer class="footer">
          <div class="contain">
        <p class="text-muted">Color Game 2017 | Created by:<a href="https://github.com/Asim1996/color-game">Asim</a></p>
          </div>
        </footer>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
 </body>
</html>