<% include partials/header%>

<!DOCTYPE html>
<html>
<head>
	<title>Eye Test Game</title>
	 <meta charset="UTF-8">
   
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/eyetest.css">
	<link href="https://fonts.googleapis.com/css?family=Acme|Francois+One" rel="stylesheet"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>

</head>
<body>
<div id="merge">
<h1>EYE TEST</h1>
</div>
<div id="stripe">
<a href="#" class="size" title="RULE" data-toggle="popover" data-trigger="focus" data-content="Find the odd tile"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Rule</a>
<button id="reset">New Game</button>
<h3>SCORE : <span id="display">0</span></h3>
<h3>TIMER :<span id="countdown" class="timer"></span><span id="change">sec</span></h3>
</div>
<div class="one">
	<h2 class="firstcase">You need to go for an eye test</h2>
</div>
<div class="two">
	<h2>Average</h2>
</div>
<div class="three">
	<h2>Pilot Level</h2>
</div>
<div class="four">
	<h2>You are a Mutant</h2>
</div>



<div class="container">
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
</div>
<script type="text/javascript" src="/scriptfile/eyetest.js"></script>

<% include partials/footer%>